*.pyc
*.*~
*~
*.class
build
tags
dist
bakerstreet.egg-info
venv
virtualenv

# --- Intellij IDEA ---
*.iml
.idea

# --- Build and Test Automation ---
tmp
*.tfstate
*.tfstate.backup
test_*.xml

# --- KDE ---
.directory